Source: chipmunk
Section: devel
Priority: optional
Maintainer: Alexandru Frincu <alexandru.frincu@accenture.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.2
Homepage: https://github.com/esrlabs/chipmunk

Package: chipmunk
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: Fast Logfile Viewer for Analyzing Large Logfiles
 Chipmunk is a fast logfile viewer designed for analyzing 
 large logfiles. It features super-fast search capabilities 
 and is an invaluable tool for developers who need to analyze 
 log data.
 This package provides a user-friendly interface for searching 
 and analyzing logfiles of any size.
